# Node modules directory
node_modules/

# Logs
logs/
*.log

# Build artifacts
dist/
build/

# Test coverage reports
coverage/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore Terraform files
**/.terraform/
terraform-k8s/.terraform/providers/registry.terraform.io/hashicorp/google/
terraform-k8s/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/
terraform-k8s/.terraform/providers/registry.terraform.io/hashicorp/helm/


